<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.com.pwr.covid_data.lab5">

    <!--Internet Permission-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Data_List" />
        <activity android:name=".CustomAdapter" />
        <activity android:name=".One_Country" />
        <activity android:name=".APIRetrofit" />
        <activity android:name=".models.Country" />
        <activity android:name=".models.Global" />
        <activity android:name=".models.Stats" />
        <activity android:name=".Fragment_Country"
            android:theme="@style/AppTheme.SlidrActivityTheme">
        </activity>
        <activity android:name=".Fragment_Country2"
            android:theme="@style/AppTheme.SlidrActivityTheme">
        </activity>
        <activity android:name=".Fragment_Country3"
            android:theme="@style/AppTheme.SlidrActivityTheme">
        </activity>
        <activity android:name=".Fragment_Country4"
            android:theme="@style/AppTheme.SlidrActivityTheme">
        </activity>
    </application>

</manifest>